.Hero {
  padding: 36px;
}

.hero--form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  justify-items: center;
}

.form--input {
  font-family: 'Nunito', sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  background-color: rgb(255, 208, 21);
  color: #222222;
  font-family: 'Nunito', sans-serif;
  text-transform: none;
  font-weight: bold;
  grid-column: 1 / -1;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #222222;
    color: white;
  }
}
